body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    background: #aadbff;
}
h2 {
    font-weight: 500;
}
svg {
    position: relative;
    top: -35px;
    z-index: -1;
}
select {
    font-size: 15px;
    /* to avoid resizing when getting list of routes */
    width: 175px;
}
g path {
    stroke: #7d8da5;
    fill: #e8e8e8;
    stroke-width: 1px;
    stroke-linejoin: round;
}
table {
    background: #fff;
    border-collapse: collapse;
}
th {
    padding: 6px 20px;
}
td {
    padding: 4px;
    text-align: center;
}
table, th, td {
    border: 1px solid #808080;
}
.hidden {
  display: none !important;
}
.streets {
    opacity: 0.7;
}
.vehicles-hidden {
    display: none;
}
.vehicles path {
    fill: #fbc02e;
}
.route-selector {
    font-size: 17px;
}
.svg-container {
    width: 780px;
}
.map-legend {
    width: 200px;
    font-size: 13px;
    opacity: 0.8;
}
.svg-container,
.map-legend {
    display: table-cell;
}
.color {
    background: red;
    border-radius: 5px;
    width: 12px;
    height: 12px;
    margin: 0 auto;
}
