body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    background: #aadbff;
}
h2 {
    font-weight: 500;
}
svg {
    position: relative;
    top: -35px;
    z-index: -1;
}
select {
    font-size: 15px;
    /* to avoid resizing when getting list of routes */
    width: 55px;
}
g path {
    stroke: #7d8da5;
    fill: #e8e8e8;
    stroke-width: 1px;
    stroke-linejoin: round;
}
.streets {
    opacity: 0.7;
}
.vehicles path {
    fill: #fbc02e;
}
.route-selector {
    font-size: 17px;
}
